/* manrope-500 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Manrope";
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-600 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Manrope";
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/manrope-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Manrope";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
   font-family: "Manrope", sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1440px;
   padding-right: 100px;
   padding-left: 100px;
   margin-right: auto;
   margin-left: auto;
}

.hidden {
   display: none;
}

.block {
   display: block;
}

@media screen and (max-width: 1199px) {
   .container {
      padding: 0 40px; /* Medium desktop */
   }
}

@media screen and (max-width: 991px) {
   .container {
      padding: 0 30px; /* Small desktop */
   }
}

/* Tablet */
@media screen and (max-width: 991px) {
   .container {
      padding: 0 30px; /* Landscape tablet */
   }
}

@media screen and (max-width: 767px) {
   .container {
      padding: 0 20px; /* Portrait tablet */
   }
}

/* Mobile */
@media screen and (max-width: 599px) {
   .container {
      padding: 0 15px; /* Large mobile */
   }
}

@media screen and (max-width: 479px) {
   .container {
      padding: 0 10px; /* Medium mobile */
   }
}

@media screen and (max-width: 359px) {
   .container {
      padding: 0 5px; /* Small mobile */
   }
}
